@font-face {
    font-family: Roboto Condensed;
    src: url(../fonts/RobotoCondensed-Regular.ttf)
}
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf)
}

// Typography
$font-family-sans-serif: Lato, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffcf4a;
$teal: #4dc0b5;
$cyan: #748fa5;
$blue: #6cb2eb;
$green: $teal;
