// Variables
@import 'variables';

// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// Magnific Popup
@import '../node_modules/magnific-popup/src/css/main';

// Lightbox
@import '../node_modules/lightbox2/dist/css/lightbox';

/**************************************************************************************************

    Base styles

**************************************************************************************************/

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    text-transform: uppercase;
    font-family: Roboto Condensed, serif;
    font-weight: bold;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
a.h1:hover, a.h2:hover, a.h3:hover, a.h4:hover, a.h5:hover {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: transparent;
    font-family: $font-family-sans-serif;
    min-height: 100vh;
    font-size: 80%;
    margin: 0 !important;
}

/**************************************************************************************************

    Helpers

**************************************************************************************************/

a {-webkit-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.navbar ul {-webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}

.grecaptcha-badge { display:none !important; }

.container{
    padding: 0;
    position:relative;
}
@media screen and (max-width: 640px){
    .container{
      width: 100%;
    }
}

.image-badge {
    position: absolute;
    text-align: center;
    padding:5px 10px;
    z-index:4;
    right:0;
    border-radius: 0 0 0 .5em;
}

.content {
    display: inline-block;
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    background: #F7F7F7;
    border-radius: .25em;
}

.content .content-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: .25em;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-details {
    position: absolute;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 60%;
    left: 50%;
    opacity: 1;
}

.content-details h3{
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
}

.fadeIn-bottom{
    top: 80%;
}

.skip a {
    position:absolute;
    left:-10000px !important;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.skip a:focus {
    position:static;
    width:auto;
    height:auto;
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
}

@keyframes copy-to-check {
    from {
        opacity: 1;
        content: '\f0c5';
        font-weight: 400;
    }
    50% {
        opacity: 0;
        content: '\f0c5';
        font-weight: 400;
    }
    51% {
        opacity: 0;
        content: '\f00c';
        font-weight: 900;
    }
    to {
        opacity: 1;
        content: '\f00c';
        font-weight: 900;
    }
}

@keyframes check-to-copy {
    from {
        opacity: 1;
        content: '\f00c';
        font-weight: 900;
    }
    50% {
        opacity: 0;
        content: '\f00c';
        font-weight: 900;
    }
    51% {
        opacity: 0;
        content: '\f0c5';
        font-weight: 400;
    }
    to {
        opacity: 1;
        content: '\f0c5';
        font-weight: 400;
    }
}

.toCheck::before {
    animation-name: copy-to-check;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.toCopy::before {
    animation-name: check-to-copy;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

.mfp-close, .lb-close {
    color: $cyan !important;
}

.reported-image {
    filter: blur(1rem);
    -webkit-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;
}

.reported-image:hover {
    filter: blur(0);
}

[data-bs-theme=light] {
    .lb-image {
        border-color: $body-secondary-bg !important;
        background-color: $body-secondary-bg;
    }
}

[data-bs-theme=dark] {
    .lb-image {
        border-color: $body-secondary-bg-dark !important;
        background-color: $body-secondary-bg-dark;
    }
}

/**************************************************************************************************

    Layout

**************************************************************************************************/

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
}

main > .row {
    flex-grow: 1;
}

.main-content {
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    border-radius: .5em;
}

/* Header */

.navbar .navbar-brand, .navbar .nav-item {
    text-transform: uppercase;
    font-family: Roboto Condensed, serif;
}

.navbar {
    //
    border-radius: .5em .5em 0 0;
}

.navbar .row { width: 100%; }

.site-mobile-header {
    display: none;
    padding: 10px 20px;
}

.card {
    border: 0;
}

@media (max-width: 767px) {
	.site-mobile-header {
		top: 54px !important;
    }

    .timestamp {
		margin-left: 1rem!important;
		margin-right: 1rem!important;
	}
}

@media (max-width: 991px) {
    .site-mobile-header {
        display: block;
        position: fixed;
		top: 68px;
        z-index: 4;
        width: 100%;
    }

    #headerNav {
        position: fixed;
        z-index: 5;
        width: 100%;
    }

    .main-content, .navbar {
        border-radius: 0;
    }

    .page-content {
        margin-top: 50px;
    }

    main.container-fluid > .row {
        position: relative;
    }

	/*fix for screen being over-wide on mobile*/
	.row {
		margin:0; max-width:100%;
	}

	.container-fluid {
		padding:0px;
	}

	.site-footer .navbar .navbar-nav {
		flex-wrap: wrap; justify-content: center;
	}
}

/* Footer */

.site-footer {
    text-align: center;
}

.site-footer .navbar {
    padding-bottom: 0;
}
.site-footer .navbar .navbar-nav {
    flex-direction: row;
}
.site-footer .navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.site-footer .copyright {
    padding: 0 1rem 1rem;
    color: rgba(0,0,0,.3);
}

.mce-content-body {
    padding: 20px;
}

/**************************************************************************************************

    Content

**************************************************************************************************/

.modal-header {
    border-bottom: 0px;
}
.modal-header .modal-title {
    line-height: 1em;
}

.tooltip-inner {
    max-width: 350px !important;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
}
.nav-tabs .nav-link {
    text-transform: uppercase;
    font-family: Roboto Condensed, serif;
}

.display-user, .display-character {
    font-weight: bold;
}

.help-icon {
    /*vertical-align: middle;*/
    cursor: pointer;
    margin: 0 5px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-family: Roboto Condensed, serif;
    text-transform: uppercase;
    align-items: center;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item:before {
    content: "»";
}

.collapse-title {
    position: relative;
}

.collapse-title:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 0.425em;
    border: 0.3em solid rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.3) transparent transparent transparent;
}

.image, .image-thumb {
    max-width: 100%;
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.text-break {
    overflow-wrap: break-word;
    word-break: break-word;
}

.small-icon {
    height: 2rem;
    padding-right: .5rem;
}

.notifications-table .unread, .notifications-table .unread td {
    background-color: #fffdf0;
}
.sortable .handle {
    color: #343a40;
}
.sortable .sortable-placeholder {
    background-color: rgba(0,0,0,0.1);
}

.profile-assets-card .card-body {
    display: flex;
    flex-direction: column;
}
.profile-assets-card .card-body .profile-assets-content {
    flex-grow: 1;
}

.profile-assets .profile-inventory .profile-inventory-item img {
    max-width: 100%;
}

.ubt-bottom {
  border-bottom:1px solid #dee2e6;
}

.ubt-top {
  border-top:1px solid #dee2e6;
}

.ubt-texthide {
  width:100%;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
